<%= link_to "Sort Recently Liked", dogs_path(sort: :recent_likes) %>

<%= render partial: 'thumbnail', collection: @dogs, as: :dog %>

<% if @dogs.length == 0 %>
  <div>No More dogs to show.</div>
  <br>
<% end %>

<div class="pagination">
  <% if @page > 0 %>
    <%= link_to "Previous", dogs_path(page: @page - 1) %>
  <% else %>
    Previous
  <% end %>

  <% if @dogs.length != 0 %>
    <%= link_to "Next", dogs_path(page: @page + 1) %>
  <% else %>
    Next
  <% end %>
</div>